.mg-card {
    width: 100px;
    height: 160px;
    border: black 2px;
    display: inline-block;
    background-size: 100px 160px;
}
.zold-alsos {
    background-image: url("/templates/magyar/zoldAlsos.jpg");
}

.zold-asz {
    background-image: url("/templates/magyar/zoldAsz.jpg");
}
.zold-felsos {
    background-image: url("/templates/magyar/zoldFelsos.jpg");
}
.zold-het {
    background-image: url("/templates/magyar/zoldHet.jpg");
}
.zold-kilenc {
    background-image: url("/templates/magyar/zoldKilenc.jpg");
}
.zold-kiraly {
    background-image: url("/templates/magyar/zoldKiraly.jpg");
}
.zold-tiz {
    background-image: url("/templates/magyar/zoldTiz.jpg");
}
.zold-hat {
    background-image: url("/templates/magyar/zoldhat.jpg");
}
.zold-nyolc {
    background-image: url("/templates/magyar/zoldnyolc.jpg");
}
.tok-alsos {
    background-image: url("/templates/magyar/tokAlsos.jpg");
}
.tok-asz {
    background-image: url("/templates/magyar/tokAsz.jpg");
}
.tok-felsos {
    background-image: url("/templates/magyar/tokFelsos.jpg");
}
.tok-hat {
    background-image: url("/templates/magyar/tokHat.jpg");
}
.tok-het {
    background-image: url("/templates/magyar/tokHet.jpg");
}
.tok-kilenc {
    background-image: url("/templates/magyar/tokKilenc.jpg");
}
.tok-kiraly {
    background-image: url("/templates/magyar/tokKiraly.jpg");
}
.tok-nyolc {
    background-image: url("/templates/magyar/tokNyolc.jpg");
}
.tok-tiz {
    background-image: url("/templates/magyar/tokTiz.jpg");
}
.piros-alsos {
    background-image: url("/templates/magyar/pirosAlsos.jpg");
}
.piros-asz {
    background-image: url("/templates/magyar/pirosAsz.jpg");
}
.piros-felsos {
    background-image: url("/templates/magyar/pirosFelsos.jpg");
}
.piros-hat {
    background-image: url("/templates/magyar/pirosHat.jpg");
}
.piros-het {
    background-image: url("/templates/magyar/pirosHet.jpg");
}
.piros-kiraly {
    background-image: url("/templates/magyar/pirosKiraly.jpg");
}
.piros-nyolc {
    background-image: url("/templates/magyar/pirosNyolc.jpg");
}
.piros-tiz {
    background-image: url("/templates/magyar/pirosTiz.jpg");
}
.makk-alsos {
    background-image: url("/templates/magyar/makkAlsos.jpg");
}
.makk-asz {
    background-image: url("/templates/magyar/makkAsz.jpg");
}
.makk-felsos {
    background-image: url("/templates/magyar/makkFelsos.jpg");
}
.makk-hat {
    background-image: url("/templates/magyar/makkHat.jpg");
}
.makk-het {
    background-image: url("/templates/magyar/makkHet.jpg");
}
.makk-kilenc {
    background-image: url("/templates/magyar/makkKilenc.jpg");
}
.makk-kiraly {
    background-image: url("/templates/magyar/makkKiraly.jpg");
}
.makk-nyolc {
    background-image: url("/templates/magyar/makkNyolc.jpg");
}
.makk-tiz {
    background-image: url("/templates/magyar/makkTiz.jpg");
}
