.mg-card {
    width: 100px;
    height: 160px;
    border: black 2px;
    display: inline-block;
    background-size: 100px 160px;
}
.zold-alsos {
    background-image: url("zoldAlsos.jpg");
}

.zold-asz {
    background-image: url("zoldAsz.jpg");
}
.zold-felsos {
    background-image: url("zoldFelsos.jpg");
}
.zold-het {
    background-image: url("zoldHet.jpg");
}
.zold-kilenc {
    background-image: url("zoldKilenc.jpg");
}
.zold-kiraly {
    background-image: url("zoldKiraly.jpg");
}
.zold-tiz {
    background-image: url("zoldTiz.jpg");
}
.zold-hat {
    background-image: url("zoldHat.jpg");
}
.zold-nyolc {
    background-image: url("zoldNyolc.jpg");
}
.tok-alsos {
    background-image: url("tokAlsos.jpg");
}
.tok-asz {
    background-image: url("tokAsz.jpg");
}
.tok-felsos {
    background-image: url("tokFelsos.jpg");
}
.tok-hat {
    background-image: url("tokHat.jpg");
}
.tok-het {
    background-image: url("tokHet.jpg");
}
.tok-kilenc {
    background-image: url("tokKilenc.jpg");
}
.tok-kiraly {
    background-image: url("tokKiraly.jpg");
}
.tok-nyolc {
    background-image: url("tokNyolc.jpg");
}
.tok-tiz {
    background-image: url("tokTiz.jpg");
}
.piros-alsos {
    background-image: url("pirosAlsos.jpg");
}
.piros-asz {
    background-image: url("pirosAsz.jpg");
}
.piros-felsos {
    background-image: url("pirosFelsos.jpg");
}
.piros-hat {
    background-image: url("pirosHat.jpg");
}
.piros-het {
    background-image: url("pirosHet.jpg");
}
.piros-kiraly {
    background-image: url("pirosKiraly.jpg");
}
.piros-nyolc {
    background-image: url("pirosNyolc.jpg");
}
.piros-tiz {
    background-image: url("pirosTiz.jpg");
}
.makk-alsos {
    background-image: url("makkAlsos.jpg");
}
.makk-asz {
    background-image: url("makkAsz.jpg");
}
.makk-felsos {
    background-image: url("makkFelsos.jpg");
}
.makk-hat {
    background-image: url("makkHat.jpg");
}
.makk-het {
    background-image: url("makkHet.jpg");
}
.makk-kilenc {
    background-image: url("makkKilenc.jpg");
}
.makk-kiraly {
    background-image: url("makkKiraly.jpg");
}
.makk-nyolc {
    background-image: url("makkNyolc.jpg");
}
.makk-tiz {
    background-image: url("makkTiz.jpg");
}    
